@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  width: 60%;
}

.title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 33px;
  font-family: var(--color-robot);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 25px;
  font-family: var(--color-robot);
  margin-bottom: 52px;
}

.hireBtn {
  text-decoration: none;
  font-size: 25px;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 270px;
  height: 280px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
    -webkit-transform: translate(0, -0px);
    -moz-transform: translate(0, -0px);
    -ms-transform: translate(0, -0px);
    -o-transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vh;
  height: 50vh;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  -webkit-filter: blur(100px);
  z-index: 0;
  -webkit-border-radius: 764px;
  -moz-border-radius: 764px;
  -ms-border-radius: 764px;
  -o-border-radius: 764px;
}

.bottomBlur {
  position: absolute;
  width: 70vh;
  height: 50vh;
  min-width: 350px;
  min-height: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  -webkit-filter: blur(100px);
  z-index: 0;
  -webkit-border-radius: 764px;
  -moz-border-radius: 764px;
  -ms-border-radius: 764px;
  -o-border-radius: 764px;
}

/* responsive hero section */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 49px;
  }
  .content {
    align-items: center;
    width: 80%;
  }
  .heroImg {
    width: 250px;
    height: 230px;
  }
}
