.container {
  margin: 100px 10% 50px 10%;
}

.title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 30px;
}

.description {
  color: #fff;
}

.description a {
  display: block;
  margin-bottom: 10px;
}

.description a {
  text-decoration: none;
  font-weight: bold;
  color: gainsboro;
}
